* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alegreya SC", serif;
    background-color: #F0F0F0;
    color: #333;
    padding: 0 10px;
}
/* Scrollbar start */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgb(202, 184, 184);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 10px;
    transition: 500ms;
}
::-webkit-scrollbar-thumb:hover{
    background:#151515;
}
/* Svrollbar end */

.header {

    padding-top: 16px;
    width: 100%;
    background: #f0f0f0;
}

.header-logo img {
    max-width: 100px;
    width: 100%;
    height: auto;
    background-size: contain;
}

nav {
    padding: 0 50px;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #151515;
    padding-inline: 20px;
    width: 38px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

nav ul li a:hover {
    text-decoration: underline;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e6e6e6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
  }
  
  .sidenav_item {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  .sidebar_logo_icon{
    display: none;
  }
  .sidenav a:hover {
    color:#929ECC;
  }
  .sidebar-buy-button{
    align-items: center;
    padding: 10px 16px ;
    margin-left: 5px;

  }
  .sidenav .closebtn {
    text-decoration: none;
    position: absolute;
    color: black;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .logo img{
    margin-left: 10px;
    max-width: 150px;
    width: 100%;
    height: auto;
    background-size: contain;
  }
  
  @media screen and (max-height: 575px) {
    .sidenav {padding-top: 15px;}
    .sidebar-buy-button{
        align-items: center;
        padding: 10px 16px ;
    }
}

.thumbnail_wrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.thumbnail-herodesign_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 114px;
    max-height: fit-content;
    width: 100%;
    background-color: #f0f0f0;
    padding: 50px 50px;
}

.thumbnail_man-image img {
    width: 100%;
    height: auto;
    background-size: contain;
    padding-top: 5px;
    padding-bottom: 5px;
}

.thumbnail-firstitem_innertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 12px;
    gap: 20px;
}

.thumbnail-firstitem_innertext p {
    color: #151515;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

}

.thumbnail-firstitem_innertext h1 {
    font-size: 70px;
    line-height: 80px;
    color: #151515;
    font-weight: 500;
}

.thumbnail-info_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 69px;
}

.thumbnail_man_image img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.thumbnail-button {
    padding-left: 60px;
    display: flex;
    gap: 30px;
}

.thumbnail-email input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
}

.thumbnail-email button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.thumbnail-email button:hover {
    background-color: #333;
}

.payment-methods img {
    width: 50px;
    height: 40px;
    margin: 0 10px;
}

.header-button {
    margin-left: 400px;
    gap: 20px;
    display: flex;
}

.login_btn-red {
    display: inline-block;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #151515;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 20px;
    transition: all 500ms;
    cursor: pointer;
}

.login_btn-red:hover {
    background-color: #151515;
    color: #FFFFFF;
}

.signup_btn-red {
    display: inline-block;
    border: 2px solid #151515;
    background-color: #151515;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 20px;
    transition: all 500ms;
    cursor: pointer;
}

.signup_btn-red:hover {
    background-color: #FFFFFF;
    color: #151515;
}

.aboutus {
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 77px;
}

.aboutus-serving_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 125px;
    max-height: fit-content;
    background-color: #f0f0f0;
    padding: 0 30px;

}


.aboutus_image_image img {
    width: 100%;
    max-width: 580px;
    height: auto;
    background-size: cover;
}

.aboutus-itemdata-firstitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.aboutus-itemdata-firstitem p {
    color: #151515;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.aboutus-itemdata-firstitem h2 {
    font-size: 50px;
    line-height: auto;
    color: #151515;
    font-weight: 500;
}

.aboutus-itemdata-firstitem ul li {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding-block-start: 24px;
}

.aboutus-button {
    padding-bottom: 40px;
}

.aboutus-btn-red {
    display: inline-block;
    border: 2px solid #151515;
    background-color: #f0f0f0;
    color: #151515;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 20px;
    transition: all 500ms;
    cursor: pointer;
}

.aboutus-btn-red:hover {
    background-color: #151515;
    color: #FFFFFF;
}

.how-it-works_wrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.how-it-works-herodesign_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 111px;
    max-height: fit-content;
    width: 100%;
    background-color: #f0f0f0;
    padding: 0 50px;
    padding-block-start: 170px;
}

.how-it-works_man-image img {
    max-width: 490px;
    width: 100%;
    height: auto;
    background-size: cover;
}

.how-it-works-firstitem_innertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 64px; */
    padding-right: 12px;
    gap: 20px;
}

.how-it-works-info_content h3 {
    color: #151515;
    font-size: 28px;
    line-height: auto;
    font-weight: 400;
}

.how-it-works-info_content p {
    color: #151515;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

}

.how-it-works-info h2 {
    font-size: 60px;
    line-height: auto;
    color: #151515;
    font-weight: 500;
    margin-left: 20px;
}

.how-it-works-info_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.how-it-works_man_image img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.how-it-works-button {
    padding-bottom: 40px;
    padding-left: 20px;
}

.how-it-works-btn-red {
    display: inline-block;
    border: 2px solid #151515;
    background-color: #f0f0f0;
    color: #151515;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 20px;
    transition: all 500ms;
    cursor: pointer;
}

.how-it-works-btn-red:hover {
    background-color: #151515;
    color: #FFFFFF;
}

.item {
    display: flex;

}

.how-it-works_man-logo img {
    max-width: 100px;
    width: 100px;
    height: auto;
    background-size: contain;
}

.box {
    display: flex;
    padding-block-start: 48px;
    gap: 28px;
}

.pricing {
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 77px;
}

.pricing-serving_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 125px;
    max-height: fit-content;
    background-color: #f0f0f0;

}


.pricing_image_image img {
    width: 100%;
    max-width: 470px;
    height: auto;
    background-size: cover;
}

.pricing-itemdata-firstitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.pricing-itemdata-firstitem p {
    color: #151515;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.pricing-itemdata-firstitem h2 {
    font-size: 50px;
    line-height: auto;
    color: #151515;
    font-weight: 500;
}

.pricing-itemdata-firstitem ul li {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding-block-start: 24px;
}

.pricing-button {
    padding-left: 430px;
    padding-bottom: 40px;
}

.pricing-btn-red {
    display: inline-block;
    border: 2px solid #151515;
    background-color: #f0f0f0;
    color: #151515;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 20px;
    transition: all 500ms;
    cursor: pointer;
}

.pricing-btn-red:hover {
    background-color: #151515;
    color: #FFFFFF;
}

.pricing-tiers {
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    padding-block-start: 50px;
    gap: 40px;
}

.tier-one {
    border: 2px solid #151515;
    background-color: #f0f0f0;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.tier-one li {
    font-size: 18px;
    line-height: 28px;
    color: #151515;
    padding-block-start: 24px;
    font-weight: 400;
}

.tier-one p {
    color: #151515;

}

.tier-one h3 {
    font-size: 80px;
    width: 107px;
    height: 77px;
    color: #151515;
}

.tier-one-button {
    padding-top: 50px;
}

.tier-btn-red {
    display: inline-block;
    border: 2px solid #151515;
    background-color: #151515;
    color: #f0f0f0;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 70px;
    transition: all 500ms;
    cursor: pointer;
}

.tier-btn-red:hover {
    background-color: #FFFFFF;
    color: #151515;
}

.tier-two {
    border: 2px solid #151515;
    background-color: #151515;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.tier-two li {
    font-size: 18px;
    line-height: 28px;
    color: #f0f0f0;
    padding-block-start: 24px;
    font-weight: 400;
}

.tier-two p {
    color: #f0f0f0;

}

.tier-two h3 {
    font-size: 80px;
    width: 107px;
    height: 77px;
    color: #f0f0f0;
}

.tier-two-button {
    padding-top: 50px;
}

.tier-two-btn-red {
    display: inline-block;
    border: 2px solid #f0f0f0;
    background-color: #f0f0f0;
    color: #151515;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 70px;
    transition: all 500ms;
    cursor: pointer;
}

.tier-two-btn-red:hover {
    background-color: gray;
    color: #FFFFFF;
}

.tier-three {
    border: 2px solid #151515;
    background-color: #fff;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.tier-three li {
    font-size: 18px;
    line-height: 28px;
    color: #151515;
    padding-block-start: 24px;
    font-weight: 400;
}

.tier-three p {
    color: #151515;

}

.tier-three h3 {
    font-size: 80px;
    width: 107px;
    height: 77px;
    color: #151515;
}

.tier-three-button {
    padding-top: 50px;
}

.tier-three-btn-red {
    display: inline-block;
    border: 2px solid #151515;
    background-color: #151515;
    color: #f0f0f0;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 70px;
    transition: all 500ms;
    cursor: pointer;
}

.tier-three-btn-red:hover {
    background-color: #FFFFFF;
    color: #151515;
}

.faq_wrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.faq-herodesign_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: fit-content;
    width: 100%;
    background-color: #f0f0f0;
    padding: 100px 50px;


}

.faq_man-image img {
    max-width: 480px;
    width: 100%;
    height: auto;
    background-size: contain;
    padding-top: 5px;
    padding-bottom: 5px;
}

.faq-firstitem_innertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 12px;
    gap: 20px;
}

.faq-firstitem_innertext p {
    color: #151515;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

}

.faq-firstitem_innertext h2 {
    font-size: 60px;
    line-height: auto;
    color: #151515;
    font-weight: 500;
    
}

.faq-info_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 69px;
}

.faq_man_image img {
    width: 100%;
    height: auto;
    background-size: cover;
}


.faq-button {
    padding-left: 60px;
    display: flex;
    gap: 30px;
}

.faq-box h3 {
    font-size: 20px;
    line-height: 28px;
    color: #151515;
    padding-block: 20px;
    cursor: pointer;
}

.btn-faq{
    display: inline-block;
    border: 2px solid #151515;
    background-color: #f0f0f0;
    color: #151515;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 40px;
    transition: all 500ms;
    cursor: pointer;
}
.btn-faq:hover{
    background-color: #151515;
    color: #FFFFFF;
}
.btnff{
    border: none;
}

.ff{
    display: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

}
.fs > img{
    margin-top: 0px;
}
footer {

    text-align: center;
    padding-block-start: 10px;
    background-color: #151515;
}

.subscribe form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.subscribe form input {
    width: 300px;
    border: 1px solid #ccc;
    outline: none;
}

.subscribe form button {
    padding: 10px 20px;
    border: 1px solid white;
    background: #111;
    color: #fff;
    cursor: pointer;
}

.subscribe form button:hover {
    background: #555;
}

.subscribe {
    padding-left: 20px;
    padding-bottom: 130px;

}

.subscribe h2 {
    font-size: 52px;
    line-height: 60px;
    font-weight: 500;
    color: #FFFFFF;
}

.footer-logo {
    max-width: 52px;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
   

}

.footer-links {
    display: flex;
    justify-content: right;
    gap: 100px;
   margin-left: 370px;


}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    padding-block-start: 24px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
   

}

.footer-box {
    display: flex;
    gap: 30px;
}

.social-media {
    background: #FFFFFF;
}

.social-media a img {
    width: 30px;
    margin: 0 10px;
}

footer p {
    margin-top: 20px;
} 

/* Media query for devices with a width of 1199px and below */
@media (max-width: 1199px) {
    .header-button {
        margin-left: 200px;
    }

    .thumbnail-button {
        flex-direction: column;
        gap: 15px;
    }

    .pricing-button,
    .how-it-works-button,
    .aboutus-button {
        padding-left: 20px;
    }
}

/* Media query for devices with a width of 1024px and below */
@media (max-width: 1024px) {
  body{
    padding: 0 20px;
  }
    nav {
        padding: 0 60px;
    }

    .header-button {
        margin-left: 100px;
    }

    .thumbnail-herodesign_grid {
        gap: 60px;
    }

    .thumbnail-email input {
        width: 200px;
    }

    .pricing-tiers {
        gap: 20px;
    }

    .tier-one,
    .tier-two,
    .tier-three {
        width: 90%;
    }
    .footer-links{
            display: flex;
            justify-content: right;
            gap: 100px;
            margin-left: 90px;       
    }
}

/* Media query for devices with a width of 991px and below */
@media (max-width: 991px) {
    nav ul li a {
        font-size: 16px;
    }

    .thumbnail-firstitem_innertext h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .aboutus-itemdata-firstitem h2,
    .how-it-works-info h2 {
        font-size: 40px;
    }

    .pricing-itemdata-firstitem h2 {
        font-size: 40px;
    }

    .faq-firstitem_innertext h2 {
        font-size: 40px;
    }
}

/* Media query for devices with a width of 768px and below */
@media (max-width: 768px) {
    nav  {
       padding: 0 0px;

    }

    .thumbnail-herodesign_grid,
    .how-it-works-herodesign_grid,
    .faq-herodesign_grid {
        display: flex;
        flex-direction: column-reverse;
    }
    .aboutus-serving_grid{
        display: flex;
        flex-direction: column;
    }

    .header-button {
        margin-left: 0;
    }
    
    .footer-links{
        display: flex;
        justify-content: right;
        gap: 15px;
        margin-left: 40px;       
    }
    .footer-logo{
        
        padding-left:0px
    }
    .footer-links ul li a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
    }
    .thumbnail-firstitem_innertext h1 {
        font-size: 40px;
    }
    .pricing-serving_grid{
        display: flex;
        flex-direction: column;
    }
    .thumbnail-button,
    .pricing-button,
    .how-it-works-button,
    .aboutus-button,
    .faq-button {
        flex-direction: column;
        gap: 15px;
        padding-left: 0;
    }
}
@media (max-width: 576px) {
    nav{
        display: none;
       }
      
        .sidenav {
            width: 200px;
        }
        .sidenav .closebtn {
            font-size: 36px;
            margin-left: 50px;
        }
        .sidebar_logo_icon {
            display: flex;
            flex-direction: row  ;
            padding: 0 15px;
            text-align: center;
            gap: 390px;
        }
        .logo img {
            /* margin-left: 10px; */
            max-width: 62px;
            width: 100%;
            height: auto;
            background-size: contain;
        }
        
        
        .sidebar-buy-button {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        nav ul {
            display: none;
        }
        .header-button {
            display: none;
        }
       
        .thumbnail-herodesign_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .aboutus-serving_grid,
        .how-it-works-herodesign_grid,
        .pricing-serving_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .aboutus-button,
        .how-it-works-button,
        .pricing-button {
            padding-left: 0;
            display: flex;
            justify-content: center;
        }
        .pricing-tiers {
            flex-direction: column;
            gap: 20px;
        }
        .faq-herodesign_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .footer-links{
            display: flex;
            justify-content: right;
            gap: 15px;
            margin-right: 50px;  
            margin-bottom: 10px;     
        }
        .footer-logo{
            
            padding-left:0px
        }
        .footer-box{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .footer-links ul li a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
        }
        .subscribe{
            padding: 0 10px;
        }
        .subscribe h2{
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
        }
        .subscribe form input {
            width: 100%;
            border: 1px solid #ccc;
            outline: none;
    }
    .subscribe form button {
        padding: 6px 6px;
        width: 100%;
        border: 1px solid white;
        background: #111;
        color: #fff;
        cursor: pointer;
    }
    .sidebar-buy-button{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width: 500px) {
    nav{
        display: none;
       }
      
        .sidenav {
            width: 200px;
        }
        .sidenav .closebtn {
            font-size: 36px;
            margin-left: 50px;
        }
        .sidebar_logo_icon {
            display: flex;
            flex-direction: row  ;
            padding: 0 15px;
            text-align: center;
            gap: 70%;
        }
        .logo img {
            /* margin-left: 10px; */
            max-width: 62px;
            width: 100%;
            height: auto;
            background-size: contain;
        }
        
        
        .sidebar-buy-button {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        nav ul {
            display: none;
        }
        .header-button {
            display: none;
        }
       
        .thumbnail-herodesign_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .aboutus-serving_grid,
        .how-it-works-herodesign_grid,
        .pricing-serving_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .aboutus-button,
        .how-it-works-button,
        .pricing-button {
            padding-left: 0;
            display: flex;
            justify-content: center;
        }
        .pricing-tiers {
            flex-direction: column;
            gap: 20px;
        }
        .faq-herodesign_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .footer-links{
            display: flex;
            justify-content: center;
            gap: 90px;
            margin-bottom: 10px;     
        }
        .footer-logo{
            
            padding-left:0px
        }
        .footer-box{
            display: flex;
            flex-direction: column;
        }
        .footer-links ul li a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
        }
        .subscribe{
            padding: 0 10px;
        }
        .subscribe h2{
            font-size: 30px;
            font-weight: 500;
            line-height: 38px;
        }
        .subscribe form input {
            width: 100%;
            border: 1px solid #ccc;
            outline: none;
    }
    .subscribe form button {
        padding: 6px 6px;
        width: 100%;
        border: 1px solid white;
        background: #111;
        color: #fff;
        cursor: pointer;
    }
    .sidebar-buy-button{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
/* Media query for devices with a width of 360px and below */
@media screen and (max-width: 375px) {
     nav{
        display: none;
       }
    
        .sidenav {
            width: 200px;
        }
        .sidenav .closebtn {
            font-size: 36px;
            margin-left: 50px;
        }
        .sidebar_logo_icon {
            display: flex;
            flex-direction: row  ;
            padding: 0 15px;
            text-align: center;
            gap: 150px;
        }
        .logo img {
            /* margin-left: 10px; */
            max-width: 62px;
            width: 100%;
            height: auto;
            background-size: contain;
        }
        
        
        .sidebar-buy-button {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        nav ul {
            display: none;
        }
        .header-button {
            display: none;
        }
       
        .thumbnail-herodesign_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .aboutus-serving_grid,
        .how-it-works-herodesign_grid,
        .pricing-serving_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .aboutus-button,
        .how-it-works-button,
        .pricing-button {
            padding-left: 0;
            display: flex;
            justify-content: center;
        }
        .pricing-tiers {
            flex-direction: column;
            gap: 20px;
        }
        .faq-herodesign_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .footer-links{
            display: flex;
            justify-content: right;
            gap: 15px;
            margin-right: 15px;  
            margin-bottom: 10px;     
        }
        .footer-logo{
            
            padding-left:0px
        }
        .footer-box{
            display: flex;
            flex-direction: column;
        }
        .footer-links ul li a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
        }
        .subscribe{
            padding: 0 10px;
        }
        .subscribe h2{
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
        }
        .subscribe form input {
            width: 100%;
            border: 1px solid #ccc;
            outline: none;
    }
    .subscribe form button {
        padding: 6px 6px;
        width: 100%;
        border: 1px solid white;
        background: #111;
        color: #fff;
        cursor: pointer;
    }
    .sidebar-buy-button{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width: 360px) {
    nav{
        display: none;
       }
      
        .sidenav {
            width: 200px;
        }
        .sidenav .closebtn {
            font-size: 36px;
            margin-left: 50px;
        }
        .sidebar_logo_icon {
            display: flex;
            flex-direction: row  ;
            padding: 0 15px;
            text-align: center;
            gap: 150px;
        }
        .logo img {
            /* margin-left: 10px; */
            max-width: 62px;
            width: 100%;
            height: auto;
            background-size: contain;
        }
        
        
        .sidebar-buy-button {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        nav ul {
            display: none;
        }
        .header-button {
            display: none;
        }
       
        .thumbnail-herodesign_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .aboutus-serving_grid,
        .how-it-works-herodesign_grid,
        .pricing-serving_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .aboutus-button,
        .how-it-works-button,
        .pricing-button {
            padding-left: 0;
            display: flex;
            justify-content: center;
        }
        .pricing-tiers {
            flex-direction: column;
            gap: 20px;
        }
        .faq-herodesign_grid {
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }
        .footer-links{
            display: flex;
            justify-content: right;
            gap: 15px;
            margin-right: 15px;  
            margin-bottom: 10px;     
        }
        .footer-logo{
            
            padding-left:0px
        }
        .footer-box{
            display: flex;
            flex-direction: column;
        }
        .footer-links ul li a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
        }
        .subscribe{
            padding: 0 10px;
        }
        .subscribe h2{
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
        }
        .subscribe form input {
            width: 100%;
            border: 1px solid #ccc;
            outline: none;
    }
    .subscribe form button {
        padding: 6px 6px;
        width: 100%;
        border: 1px solid white;
        background: #111;
        color: #fff;
        cursor: pointer;
    }
    .sidebar-buy-button{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


@media screen and (max-width: 320px) {
   nav{
    display: none;
   }
  
    .sidenav {
        width: 200px;
    }
    .sidenav .closebtn {
        font-size: 36px;
        margin-left: 50px;
    }
    .sidebar_logo_icon {
        display: flex;
        flex-direction: row  ;
        padding: 0 15px;
        text-align: center;
        gap: 150px;
    }
    .logo img {
        /* margin-left: 10px; */
        max-width: 62px;
        width: 100%;
        height: auto;
        background-size: contain;
    }
    
    
    .sidebar-buy-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    nav ul {
        display: none;
    }
    .header-button {
        display: none;
    }
   
    .thumbnail-herodesign_grid {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 20px;
    }
    .aboutus-serving_grid,
    .how-it-works-herodesign_grid,
    .pricing-serving_grid {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 20px;
    }
    .aboutus-button,
    .how-it-works-button,
    .pricing-button {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }
    .pricing-tiers {
        flex-direction: column;
        gap: 20px;
    }
    .faq-herodesign_grid {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 20px;
    }
    .footer-links{
        display: flex;
        justify-content: right;
        gap: 15px;
        margin-right: 15px;  
        margin-bottom: 10px;     
    }
    .footer-logo{
        
        padding-left:0px
    }
    .footer-box{
        display: flex;
        flex-direction: column;
    }
    .footer-links ul li a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
    }
    .subscribe{
        padding: 0 10px;
    }
    .subscribe h2{
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
    }
    .subscribe form input {
        width: 100%;
        border: 1px solid #ccc;
        outline: none;
}
.subscribe form button {
    padding: 6px 6px;
    width: 100%;
    border: 1px solid white;
    background: #111;
    color: #fff;
    cursor: pointer;
}
.sidebar-buy-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
}

    

